<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Educational Qualifications</title>
    <link href ="{{ url_for('static', filename='styles/styles.css') }}" rel="stylesheet">
    <!-- font-awesome link to link the icons in webpage,  https://fontawesome.com/icons , visited last on 27/01/2023 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- end of font-awesome link -->
</head>
<body class ="main-content">
    <main class="active">
        <section class="section">
            <div class="main-title">
                <h2><span>Education</span></h2>
            </div>
            <div class ="edu">
                <h3>> Cardiff University <span class="date">2022 - Present</span></h3>
                <p class="course">Masters in Computing with Placement</p>
                <p><span class="rlvnt-crse"><B>Relevant Coursework: </B></span> Computational Thinking, Software Engineering, Data Visualisation and Algorithms, Data Structures and Programming</p>
            </div>
            <div class="edu">
                <h3>> Delhi University <span class="date">2019 - 2022</span></h3>
                <p class="course">Bachelor of Honours in English with minor in Computer Science<span class="mrk">7.554 CGPA</span></p>
                <p><span class="rlvnt-crse"><B>Relevant Coursework: </B></span> Programming using Python, Database Management System, Computer Networks, Information & Cyber Security Laws </p>
            </div>
            <div class="edu">
                <h3>> Govt Boys Higher Secondary School, Kottarakara <span class="date">2017 - 2019</span></h3>
                <p>12th Standard, Directorate of Higher Secondary Education Kerala</p><span class="mrk">97.8%</span>
        </section>
    </main>
    <div class="controlls">
        <div >
            <a href="/"><i class="fa fa-home"></i></a> 
        </div>
        <div >
            <a href="about"><i class="fa fa-user"></i></a>
        </div>
        <div > 
            <a href="edu"><i class="fa fa-book"></i></a> 
        </div>
        <div >
            <a href="exp"><i class="fa fa-briefcase"></i></a> 
        </div>
        <div >
            <a href="wrk"><i class="fa fa-laptop"></i></a> 
        </div>
        <div >
            <a href="contact"><i class="fa fa-envelope"></i></a> 
        </div>
    </div>
</body>
</html>