<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experiences</title>
    <link href ="{{ url_for('static', filename='styles/styles.css') }}" rel="stylesheet">
    <!-- font-awesome link to link the icons in webpage,  https://fontawesome.com/icons , visited last on 27/01/2023 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- end of font-awesome link -->
</head>
<body class ="main-content">
    <main class="active">
        <section class="section">
            <div class="main-title">
                <h2>My <span>Experiences</span></h2>
            </div>
            <div class="exp">
                <h4>> Full Stack Web Dev Training & Internship, <span>ShapeAI</span> <span class="date">July 2021 - Oct 2021</span></h4>
                    <ul><li>. Learned how to implement modern web pages with HTML, CSS, and JavaScript. </li>
                    <li>. Gained working knowledge of the latest frameworks and technologies, including JavaScript ES6, Bootstrap 4, Tailwind CSS, MongoDB.</li>
                    <li>. Master front-end development with React.</li>
                    <li>. Developed, tested, and launched React apps and Deploy our React apps live to the web.</li>
                    <li>. Acquired skills to work with React, Redux, React-Router, and more.</li>
                    <li>. Created Express web servers and APIs.</li>
                    <li>. Ideated and built modern, fast and scalable server-side web applications with NodeJS, databases like SQL or MongoDB, Understood the NodeJS ecosystem and build server-side rendered apps, REST APIs.</li>
                    <li>. Built, tested, and launch Node apps and deployed them to production.</li>
                    <li>. Learn DevOps from Scratch to build Production level infrastructure to scale using Doker and Kubernetes.</li>
                    <li>. Understood how to build, deploy, use and maintain Kubernetes</li></ul>
            </div>
            <div class="exp">
                <h4>> Subject Matter Expert(Science & Mathematics)<span>INFYBYTES AI LABS private limited</span> <span class="date">July 2022 - Sept 2022</span></h4>
                <p>
                    Plan and design questions for highly specific concepts taught in the CBSE curriculum in the grade 1 to 12. Assess the quality of the concept that is rolled out. Give constant feedback on the learning material for its improvement.
                </p>
            </div>
            <div class="exp">
                <h4>> Volunteer, <B>Visionaries NGO</B> <span class="date">Nov 2019 - Sept 2022</span></h4>
                <ul>
                    <li>. Assisted visually impaired students with their assignments and other course works</li>
                    <li>. Taught programming languages and also recored books for them</li>
                </ul>
            </div>
            <div class="exp">
                <h4>> Volunteer, <B>Umeed, A Drop of Hope NGO</B> <span class="date">Apr 2021 - Apr 2022</span></h4>
                <ul>
                    <li>. Participated in various cleanliness and animal welfare drives</li>
                </ul>
            </div>
            <div class="exp">
                <h4>> Lifestyle Eco-Warrior, <B>Bhumi NGO</B> <span class="date">Apr 2021 - May 2021</span></h4>
                <ul>
                    <li>. Educated and mentored destitue children from orphanages, slums and villages to contribute to their better future</li>
                </ul>
            </div>
        </section>
    </main>
    <div class="controlls">
        <div >
            <a href="/"><i class="fa fa-home"></i></a> 
        </div>
        <div >
            <a href="about"><i class="fa fa-user"></i></a> 
        </div>
        <div > 
            <a href="edu"><i class="fa fa-book"></i></a>
        </div>
        <div >
            <a href="exp"><i class="fa fa-briefcase"></i></a> 
        </div>
        <div >
            <a href="wrk"><i class="fa fa-laptop"></i></a> 
        </div>
        <div >
            <a href="contact"><i class="fa fa-envelope"></i></a> 
        </div>
    </div>
</body>
</html>